<%- include('../layouts/adminHead.ejs') %>

    <body style="overflow: hidden;;">

        <div class="container  " style="background-color: #d5e6d4 ; " >
            <% if (locals.message) { %>
                <p id="error_message" class="text-danger">
                    <%= locals.message %>
                </p>
                <% } %>
                    <script>
                        setTimeout(function () {
                            const error = document.getElementById('error_message')
                            error.textContent = ''
                        }, 2000)
                    </script>
                    <h2 class="text-center">Login</h2>
                    <form action="/admin/adminLogin" method="post">

                        <div class="form-group">
                            <label for="username">Email</label>
                            <input type="text" id="email" name="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control"
                                placeholder="Password">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-custom" style="margin-top: 11px;" >Login</button>
                        </div>
                    </form>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <style>
            body {
                font-family: Arial, sans-serif;
            }

            .container {
                max-width: 400px;
                margin: 0 auto;
                padding: 20px;
                border: 1px solid #ccc;
                border-radius: 5px;
                background-color: #f9f9f9;
                border-width: 4px;
            }

            #outer {
                margin-top: 1000px;
            }

            .btn-custom {
                background-color: #4CAF50;
                color: white;
                border: none;
                cursor: pointer;
            }

            .btn-custom:hover {
                background-color: #45a049;
            }

            body {
                height: 100%;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            /* .mt-5{
            margin-top: 160px !important;
        } */
        </style>
    </body>

    </html>