<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Frenzy Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="./assets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link href="./assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    <script defer src="https://cdn.crop.guide/loader/l.js?c=WJZHQF"></script>
     <!-- axios cdn link -->
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
       <!-- SweetAlert2 CSS File -->
       <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

       <!-- update sweet alert -->
     <style>
     .custom-swal-width {
      width: 421px; /* or any other larger value */
        /* width: 100%; */
        height: 298px;
     }
     </style>

<style>
  /* Customize the dropdown menu */
  .dropdown-menu {
      background-color: #f8f9fa; /* Background color */
      border-radius: 0.25rem; /* Rounded corners */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
  }

  /* Change the color of the text in the dropdown items */
  .dropdown-item {
      color: #343a40; /* Text color */
  }

  /* Add hover effect to dropdown items */
  .dropdown-item:hover {
      background-color: #e9ecef; /* Hover background */
      color: #00ff3c; /* Hover text color */
  }

  /* Style the menu link */
  .menu-link {
      color: #495057; /* Link color */
      font-weight: 500; /* Bold font */
  }

  .menu-link:hover {
      color: #00ff11; /* Hover color */
      text-decoration: none; /* Remove underline on hover */
  }
</style>
    
  
    
</head>